/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip
package-lock.json
/.cache/*
assets/temp_files/*.csv
composer.lock
.DS_Store
.env
dist
